*{
    padding:0;
    margin:0;
  }
  
  #heading{
  background-image: url(../img/background.jpeg);
  background-size: cover;
  background-position: center;
  height: 80vh;
  }
  
  
  
  
  
   #bodytitle{
   margin-left: auto;
   border-top: 5px solid green; 
   padding-left: 45%; 
  
  }
   
  
  
  #booking{
    
    left: 50px;
  
    width: 100%;
    height:400px;
    color: white;
    border: 5px solid black;
    background-color: #181518;
    
  }
  
  
  .navbar-brand img{
    width: 300px;
    height: 100px;
    margin-left: 20px;
  }
  
    #bookingsection{
      padding:15px;
      color:#ffffff;
  
  
    }
  
    .bookingforminputs{
      background-color: #181518;
  
    }
  
    #bookingsection h1{
      float:left;
    }
  
    #bookingsection form {
      float:right;
      margin-top:15px;
    }
  
    #bookingsectioninput[type="email"]{
      padding:4px;
      height:25px;
      width:250px;
    }
  
    input[type=text]{
      width:50%;
      
      display:inline-block;
      margin: 3px;
      border: none;
      margin-top: 20px;
      margin: 5px 0 15px 0;
    
    }

    #main input[type=date]{
      width: 20%;
    }

    #main input[type=text]{
      width: 20%;
    }

 

    
   
  
  #footer{
    margin-top: 100px;
    background-color: #000000;
    color: #ffffff;
   }
  
   /* customer*/
  
   #customercare{
     padding: 10px ;
     padding-bottom:20;
     border-top: 5px solid green;
   }
  
   #customercare .col-md-4{
     padding: 10px 30px;
  
   }
   #customercare img{
     width: 100px;
     height: 100px;
   }
  
   .messagehelp{
     font-size: 16px;
     padding: 7px 7px 7px 20px;
     border-radius: 10px;
     box-shadow: 0px 0px 20px 1px rgb(12, 12, 12);
   }
  
   #ourservices{
     padding-left:35%;
     padding-right:25%;
   }
  
   #ourservices img{
     width: 100px;
     
   }
  
   #ourservices h2{
     padding-left: 50%;
   }
  
   
  
  
    
  
  
  .radiobutton {
    margin: 0 20px;
  }
  .radiobutton .button {
    margin:20px 10px 20px 0;
  }
  
  .radiobutton .button::after{
    content: '';
    height: 15px;
    width: 15px;
    background-color: #f7ebeb;
    display: inline-block;
  
    visibility: visible;
    position: relative;
  
  }
  
  .radiobutton .button:checked::after{
  content: '';
  transition: 1s;
  background-color: #0000;
  }
  
  .radiobutton span{
    color: rgb(22, 21, 21);
  }
  
 
  
  .bookingform label{
    margin-top: 7px;
    margin-bottom: 3px;
  
    color: rgb(29, 28, 28);
  }
  
  input::placeholder{
    color: rgb(12, 12, 12);
  }
  

  
  
  *{
    box-sizing: border-box;
  }
  #formwrapinputs{
    margin-bottom: 20px;
    border: 5px solid #000000;
    width: 70%;
    height: 400px;
  }


  .informheader{
    border-bottom:2px solid #000000;
    border-top:2px solid #000000;
    border-left:2px solid #000000;
    border-right:2px solid #000000;
    padding-left: 400px;
    border-radius:15px;
  }

  .regform{
    border-top:5px solid black;
    background-color: #eef6ff#;
    border-radius:15px;
    width:90%;
  }
  

  .cardreg{
    width:70%;
  }


    .cardreg input[type=text]{
      width: 150px;
    }


  .logstyle{
    padding-top: 50px;
    padding-left: 200px;
    
  }

     
  .logstyles{
    padding-top: 50px;
   
    width: 100%;
    
  }

  .logstyles input[type=text]{
    width: 150px;
    
  }

  .logstyles input[type=password]{
    width: 150px;
    
  }

  .logstyle input[type=text]{
    width: 150px;
  }

  .logstyle input[type=password]{
    width: 150px;
  }




  #login-container{
    position: relative;
    margin: 10% auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    width: 500px; 
    border-radius: 3px;


  }

  /*inside the card  */

  .alignleft{
    box-sizing: border-box;
    padding: 30px;
    width: 400px;
    

  }

  .alignright{

    top: 0;
    right: 0;
    box-sizing:border-box;
    border-radius: 3px;
  }

  /*inside the input fields  */

 



  












/* form tabs */

*


#main{
  margin: 50px auto;

}


#tab-btn{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 100%;
}
.login,.register{
  text-decoration: none;
  display: block;
  width: 100%;
  background-color: #37474f;
  text-align: center;
  color: #fff;
  font-size: 25px;
  padding: 10px;
}
.active{
  background-color: #eee;
  color: #000;
}
.content,.other{
  width: 100%;
  background-color: #eee;
  padding: 20px 30px 30px 30px;
  box-shadow: 2px 2px 5px #333;
}
.other{
  display: none;
}
.inp{
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  font-size: 20px;
  border: 2px solid #888;
  border-bottom: 5px solid #888;
  background-color: #fff;
  color: #666;
}
.inp:focus{
  outline: none;
  border: 2px solid #555;
  border-bottom: 5px solid #555;
}
#sub-btn{
  width: 100%;
  padding: 12px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  background-color: #f44336;
  color: #fff;
  cursor: pointer;
  border-bottom: 5px solid #444;
}
#sub-btn:focus{
  outline: none;
}
#sub-btn:active{
  border: none;
  margin-top: 5px;
}
#forgot{
  font-size: 20px;
  color: #444;
  display: block;
}
h2{
  text-align: center;
  padding-bottom: 15px;
  color: #333;
  font-size: 30px;
  font-variant: small-caps;
}

































